html {
    overflow: scroll;
}

body {
    min-width: 635px;
    line-height: 25px;
}

p {
    color: black;
}

p#space {
    height: 108px;
}

a {
    color: black;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/*navbar
---------------------------------------------------------------------*/
.navbar-nav > li > a {
    padding: 5px 0 0;
}

.navbar-brand {
    padding-top: 30px;
    padding-right: 20px;
}

/*input
---------------------------------------------------------------------*/
input:invalid {
    border: 1px solid crimson;
}

input:valid {
    border: 1px solid black;
}

input {
    min-width: 200px;
}

/*bootstrap change
-----------------------------------------------------------------------*/
#removePatientModal {
    top: 20%;
}

.tabs {

    padding-top: 6px;
    margin-left: 20px;
}

.tab-pane {
    margin-top: 20px;
}

.container-content {
    margin-top: 75px;
}

.form-horizontal {
    padding-top: 25px;
}


.glyphicon-pencil, .glyphicon-remove, .glyphicon-folder-open {
    float: right;
    padding: 0 5px;
}

table.glyphicon-hover .glyphicon {
    visibility: hidden;
    cursor: pointer;
}

table.glyphicon-hover td:hover .glyphicon {
    visibility: visible;
    cursor: pointer;
}


.form-inline label {
    margin-right: 50px;
}