html {
    overflow: scroll;
}

body {
    min-width: 635px;
    line-height: 25px;
}

p {
    color: black;
}

p#space {
    height: 108px;
}

a {
    color: black;
}

/*navbar
---------------------------------------------------------------------*/
.navbar-nav > li > a {
    padding: 0;
    padding-top: 5px;
}

.navbar-brand {
    padding-top: 30px;
    padding-left: 50px;
}

/*input
---------------------------------------------------------------------*/
input:invalid {
    border: 1px solid crimson;
}

input:valid {
    border: 1px solid black;
}

/*bootstrap change
-----------------------------------------------------------------------*/
.container-content {
    margin-top: 100px;
}


#addedAk, #possibleAk {
    float: left;
    max-width: 300px;
}


#akButton {
    float: left;
}


.glyphicon {
    float: right;
}

.addAk, .removeAk {
    margin: 2px;
    width: 35px;
}


table.glyphicon-hover .glyphicon {
    visibility: hidden;
}
table.glyphicon-hover td:hover .glyphicon {
    visibility: visible;
}

