html {
    overflow: scroll;
}

body {
    min-width: 635px;
    line-height: 25px;
}

p {
    color: black;
}

p#space {
    height: 108px;
}

a {
    color: black;
}
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/*navbar
---------------------------------------------------------------------*/
.navbar-nav > li > a {
    padding: 5px 0 0;
}

.navbar-brand {
    padding-top: 30px;
    padding-left: 50px;
}

/*input
---------------------------------------------------------------------*/
input:invalid {
    border: 1px solid crimson;
}

input:valid {
    border: 1px solid black;
}

/*bootstrap change
-----------------------------------------------------------------------*/
#removePatientModal {
    top: 20%;
}

.container-content {
    margin-top: 100px;
}

.glyphicon-remove {
    float: right;
}

table.glyphicon-hover .glyphicon {
    visibility: hidden;
}

table.glyphicon-hover td:hover .glyphicon {
    visibility: visible;
}

div.alert {
    max-width: 300px;
    background-image: linear-gradient(to bottom, #f2dede 0, #e7c3c3 100%);
}

.possibleAntiBodyList, .patientAntiBodyList {
    border-radius: 4px;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    margin: 10px 10px 10px 0;
    padding: 5px;
    vertical-align: top;
    width: 150px;
    height: 150px;
    overflow: auto;
}

.possibleAntiBodyList p, .patientAntiBodyList p {
    margin-bottom: 0;
}

/*antibody window
-----------------------------------------------------------------------*/
button.addAntiBody, button.removeAntiBody {
    margin: 2px;
    width: 35px;
}

#addedAntiBody, #possibleAntiBody {
    float: left;
    max-width: 300px;
}

#antiBodyButton {
    float: left;
}