{
  "env": {
    "browser": true
  },
  "rules": {
    "quotes": [
      2,
      "single"
    ],
    "strict": 0,
    "no-alert":0,
    "no-unused-vars":1,
    "no-use-before-define": 0
  },
  "globals": {
    "PatMng": true,
    "_": true,
    "angular": true,
    "$": true,
    "jQuery": true
  }
}