<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Patientenverwaltung</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="#"><img src="img/newPat.png" title="Patientenaufnahme" width="70" height="70"></a></li>
            <li><a href="#"><img src="img/patlist-blue.png" title="Patientenliste" width="70" height="70"></a></li>
        </ul>
        <a class="navbar-brand" href="#"><span style="color:#02E026">°</span><span style="color:#20E4FE">°</span>
            Immupar |
            <small>Patientenaufnahme</small>
        </a>
    </div>
</nav>


<div class="container container-content">
    <div class="form-horizontal">
        <div class="form-group">
            <label>Nachname</label>
            <input type="text" class="form-control surname" placeholder="Nachname des Patienten" required autofocus/>
        </div>
        <div class="form-group">
            <label>Vorname</label>
            <input type="text" class="form-control name" placeholder="Vorname des Patienten" required/>
        </div>
        <div class="form-group">
            <label>Geschlecht</label><br>
            <label class="radio-inline">
                <input type="radio" name="sex" value="weiblich" checked/> Weiblich
            </label>
            <label class="radio-inline">
                <input type="radio" name="sex" value="männlich"/> Männlich
            </label>
        </div>
        <div class="form-group">
            <label>Geburtstag (dd.mm.yy)</label><br>
            <input type="text" class="form-control birthDate"/>
        </div>

        <div class="form-group">
            <label>Blutgruppe</label><br>
            <label class="radio-inline">
                <input type="radio" name="bloodType" value="A" checked/> A
            </label>
            <label class="radio-inline">
                <input type="radio" name="bloodType" value="B"/> B
            </label>
            <label class="radio-inline">
                <input type="radio" name="bloodType" value="0"/> 0
            </label>
            <label class="radio-inline">
                <input type="radio" name="bloodType" value="AB"/> AB
            </label>
        </div>
        <div class="form-group">
            <label>Rhesus</label><br>
            <label class="radio-inline">
                <input type="radio" name="rhesus" value="positiv" checked/> positiv
            </label>
            <label class="radio-inline">
                <input type="radio" name="rhesus" value="negativ"/> negativ
            </label>
            <label class="radio-inline">
                <input type="radio" name="rhesus" value="D weak"/> D weak
            </label>
        </div>


        <div class="form-group">
            <label>Bekannte Antikörper</label><br>
            <div class="form-control patientAntiBodyList">

            </div>
            <div class="form-control possibleAntiBodyList">

            </div>
        </div>
        <div class="form-group">
            <div class="alert alert-danger alert-save" role="alert" hidden="hidden">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Bitte füllen Sie die Pflichtfelder aus
            </div>
            <div class="alert alert-danger alert-duplicate" role="alert" hidden="hidden"><span
                    class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>Patient möglicherweise
                bereits
                vorhanden
            </div>
            <button class="btn btn-default save">Speichern</button>
        </div>
    </div>


    <div id="patientlist">

        <h2 style="display: inline-block">gespeicherte Patienten</h2>

        <div class="dropdown" style="display: inline-block; margin-left: 150px;">
            <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                erweiterte Suche
                <span class="caret"></span>
            </div>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li role="presentation">
                    <a role="menuitem">alles</a>
                </li>
                <li role="presentation">
                    <a role="menuitem">Antikörper</a>
                </li>
                <li role="presentation">
                    <a role="menuitem">Geburtsdatum</a>
                </li>
            </ul>
        </div>

        <div id="search">
            <input type="text" class="form-control search" placeholder="Suche" style="font-style: italic"/>
        </div>
        <br>
        <table class="table table-hover glyphicon-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nachname</th>
                <th>Vorname</th>
                <th>Geschlecht</th>
                <th>Geburtstag</th>
                <th>Blutgruppe</th>
                <th>Antikörper</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>

</div>

<script type="text/template" id="tableTemplate">
    <% _.forEach(patients, function(patient) { %>
    <tr>
        <td><%- patient.id %></td>
        <td><%- patient.surname %></td>
        <td><%- patient.name %></td>
        <td><%- patient.sex %></td>
        <td><%- patient.birthDate %></td>
        <td><%- patient.bloodType %></td>
        <td><%- patient.antiBody %><span class="glyphicon glyphicon-remove"
                                         onclick="PatMng.controller.onRemovePatient(<%- patient.id %>)"></span></td>
    </tr>
    <% }); %>

</script>
<script type="text/template" id="elseTemplate">
    <tr>
        <td colspan='4'>Es sind keine Patienten in der Datenbank vorhanden</td>
    </tr>
</script>
<script type="text/template" id="antiBodyTemplate">
    <% _.forEach(antiBodies, function(antiBody) { %>

        <p ondblclick="PatMng.controller.addAntiBodyToPatientAntiBodyArray(<%- antiBody.order %>)"><%- antiBody.label %></p>

    <% }); %>
</script>

<script type="text/template" id="patientAntiBodyTemplate">
    <% _.forEach(antiBodies, function(antiBody) { %>

    <p ondblclick="PatMng.controller.removeAntiBodyFromPatientAntiBodyArray(<%- antiBody.order %>)"><%- antiBody.label %></p>

    <% }); %>
</script>
<script src="node_modules/lodash/index.js" type="text/javascript"></script>
<script src="node_modules/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="node_modules/bootstrap/js/dropdown.js" type="text/javascript"></script>
<script src="src/app.js" type="text/javascript"></script>
<script src="src/store.js" type="text/javascript"></script>
<script src="src/controller.js" type="text/javascript"></script>
<script src="src/view.js" type="text/javascript"></script>
<script type="text/javascript">
    PatMng.controller.init();
</script>


</body>
</html>