<div ng-controller="PatientFileController as file" class="container-content">

    <tabset class="tabs">
        <tab heading="Patientenmappe">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <label>ID</label>
                    </div>
                    <div class="col-md-10">
                        <input ng-keypress="file.findPatient($event,file.patient.id)" ng-model="file.patient.id"
                               type="number"
                               class="form-control id" autofocus>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Name</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" type="text"
                               value="{{file.patient.surname}} {{file.patient.name}}"
                               disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Blutgruppe</label>
                    </div>
                    <div class="col-md-10 form-inline">
                        <select ng-model="file.patient.bloodType" class="form-control">
                            <option>--</option>
                            <option>NB</option>
                            <option>A</option>
                            <option>B</option>
                            <option>0</option>
                            <option>AB</option>
                        </select>
                        <select ng-model="file.patient.rhesus" class="form-control">
                            <option>--</option>
                            <option>NB</option>
                            <option>positiv</option>
                            <option>negativ</option>
                            <option>D weak</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Antikörper</label>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <ui-select ng-model="file.patient.antiBodies" multiple>
                                <ui-select-match placeholder="Antikörper hinzufügen">{{$item.label}}</ui-select-match>
                                <ui-select-choices
                                        repeat="antiBody in file.availableAntiBodies | filter: $select.search">
                                    <div>{{antiBody.label}}</div>
                                </ui-select-choices>
                            </ui-select>

                        </div>
                    </div>
                    <div class="form-group">
                        <button ng-click="file.onSave()" class="btn btn-default">Speichern</button>
                    </div>
                </div>
            </div>
        </tab>
        <button ng-click="file.createNewCase()" class="btn btn-default">+</button>
        <tab ng-repeat="(key, case) in file.patient.cases"
             heading="{{case.date | date: 'dd.mm.yyyy'}} | Nr: {{case.nr}}">
            <div ng-form="file.patientAnalyses">
                <div class="form-group">
                    <label>Fallnummer</label> {{case.nr}}
            <span ng-click="file.removeCase(case.nr)" style="cursor: pointer" class="glyphicon glyphicon-remove"> <i>Fall
                löschen</i></span>
                    <ui-select ng-model="case.analyses" multiple>
                        <ui-select-match placeholder="Analysen hinzufügen">{{$item.label}}</ui-select-match>
                        <ui-select-choices repeat="analysis in file.availableAnalyses | filter: $select.search">
                            <div>{{analysis.label}}</div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" ng-click="file.saveCase(case.nr)">Speichern</button>
                </div>
                <div class="form-group">



                    <div ng-repeat="analysis in case.analyses" class="borderDiv">


                        <div>
                            <h5 id="analysis.label">{{analysis.label}}</h5>

                            <table class="table analysesTable">
                                <thead>
                                <tr>
                                    <th ng-repeat="field in analysis.fields">{{field.fieldName}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td  ng-repeat="field in analysis.fields">
                                        <input ng-model="field.fieldContent" class="form-control analysesInput"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>

    <hr/>


    <br>


    <script type="text/javascript" src="../src/app.js"></script>
    <script type="text/javascript" src="../src/RefDataStore.js"></script>
    <script type="text/javascript" src="../src/PatientStore.js"></script>
    <script type="text/javascript" src="../src/PatientFileController.js"></script>
    <script type="text/javascript" src="../src/ModalController.js"></script>


</div>