<div ng-controller="PatientFileController as file" class="container-content">

    <tabset class="tabs">
        <tab heading="Personalien">
            <div class="container">
                <div class="form-horizontal" ng-form="file.patientData">
                    <div class="form-group">
                        <label>ID</label>
                        <input ng-keypress="file.findPatient($event,file.patient.id)" ng-model="file.patient.id"
                               type="number"
                               class="form-control id" autofocus>
                    </div>
                    <div class="form-group">
                        <label>Nachname</label>
                        <input ng-model="file.patient.surname" ng-pattern="file.nameRegex" name="surname" type="text" class="form-control surname"
                               placeholder="Nachname des Patienten" required autofocus/>
                    </div>
                    <div class="form-group">
                        <label>Vorname</label>
                        <input ng-model="file.patient.name" name="name" ng-pattern="file.nameRegex" type="text" class="form-control name"
                               placeholder="Vorname des Patienten" required/>
                    </div>
                    <div class="form-group">
                        <label>Geschlecht</label><br>
                        <label class="radio-inline">
                            <input ng-model="file.patient.gender" type="radio" class="gender" name="gender" value="weiblich" required/> Weiblich
                        </label>
                        <label class="radio-inline">
                            <input ng-model="file.patient.gender" type="radio" name="gender" value="männlich" required/> Männlich
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Geburtstag</label><br>
                        <input ng-model="file.patient.birthday" ng-pattern="file.birthDateRegex" name="birthDate" placeholder="dd.mm.yyyy" type="text"
                               class="form-control birthDate" required/>
                    </div>


                    <div class="form-group" role="alert" ng-show="file.patientData.errorMsg">
                        <span class=" alert alert-danger glyphicon glyphicon-exclamation-sign" ng-show="file.patientData.name.$error.required"> <span class="normalfont">Bitte geben Sie den Vornamen des Patienten an</span></span>
                        <span class=" alert alert-danger glyphicon glyphicon-exclamation-sign" ng-show="file.patientData.surname.$error.required"> <span class="normalfont">Bitte geben Sie den Nachnamen des Patienten an</span></span>
                        <span class=" alert alert-danger glyphicon glyphicon-exclamation-sign" ng-show="file.patientData.birthDate.$error.required"> <span class="normalfont">Bitte geben Sie das Geburtsdatum des Patienten an</span></span>
                        <span class=" alert alert-danger glyphicon glyphicon-exclamation-sign" ng-show="file.patientData.gender.$error.required"> <span class="normalfont">Bitte geben Sie das Geschlecht des Patienten an</span></span>
                        <span class=" alert alert-danger glyphicon glyphicon-exclamation-sign" ng-show="file.patientData.name.$error.pattern"> <span class="normalfont">Bitte geben Sie einen gültigen Vornamen ein</span></span>
                        <span class=" alert alert-danger glyphicon glyphicon-exclamation-sign" ng-show="file.patientData.surname.$error.pattern"> <span class="normalfont">Bitte geben Sie einen gültigen Nachnamen ein</span></span>
                        <span class=" alert alert-danger glyphicon glyphicon-exclamation-sign" ng-show="file.patientData.birthDate.$error.pattern"> <span class="normalfont">Bitte geben Sie ein gültiges Geburtsdatum ein (dd.mm.yyyy)</span></span>
                    </div>

                    <div class="form-group">
                        <button ng-click="file.savePersonalData()" class="btn btn-default">Speichern</button>
                    </div>
                </div>


            </div>

        </tab>
        <tab heading="Serodiagnose" disable="true">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <label>Blutgruppe</label>
                    </div>
                    <div class="col-md-10 form-inline">
                        <select ng-model="file.patient.bloodType" class="form-control">
                            <option>--</option>
                            <option>NB</option>
                            <option>A</option>
                            <option>B</option>
                            <option>0</option>
                            <option>AB</option>
                        </select>
                        <select ng-model="file.patient.rhesus" class="form-control">
                            <option>--</option>
                            <option>NB</option>
                            <option>positiv</option>
                            <option>negativ</option>
                            <option>D weak</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Antikörper</label>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <ui-select ng-model="file.patient.antiBodies" multiple>
                                <ui-select-match placeholder="Antikörper hinzufügen">{{$item.label}}</ui-select-match>
                                <ui-select-choices
                                        repeat="antiBody in file.availableAntiBodies | filter: $select.search">
                                    <div>{{antiBody.label}}</div>
                                </ui-select-choices>
                            </ui-select>

                        </div>
                    </div>
                </div>
                <div ng-show="file.patientSeroError">
                    <span class="alert alert-danger glyphicon glyphicon-exclamation-sign"> <span class="normalfont">Bitte wählen Sie zuerst einen Patienten im Tab Personalien aus.</span></span>
                </div>
                <div class="form-group">
                    <button ng-click="file.saveSerodiagnosis()" class="btn btn-default">Speichern</button>
                </div>
            </div>
        </tab>
        <button ng-click="file.createNewCase()" class="btn btn-default">+</button>
        <tab ng-repeat="(key, case) in file.patient.cases"
             heading="{{case.date | date: 'dd.mm.yyyy'}} | Nr: {{case.nr}}">
            <div ng-form="file.patientAnalyses">
                <div class="form-group">
                    <label>Fallnummer</label> {{case.nr}}
            <span ng-click="file.removeCase(case.nr)" style="cursor: pointer" class="glyphicon glyphicon-remove"> <i>Fall
                löschen</i></span>
                    <ui-select ng-model="case.analyses" multiple>
                        <ui-select-match placeholder="Analysen hinzufügen">{{$item.label}}</ui-select-match>
                        <ui-select-choices repeat="analysis in file.availableAnalyses | filter: $select.search">
                            <div>{{analysis.label}}</div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" ng-click="file.saveCase()">Speichern</button>
                </div>
                <div class="form-group">


                    <div ng-repeat="analysis in case.analyses" class="borderDiv">


                        <div>
                            <h5 id="analysis.label">{{analysis.label}}</h5>

                            <table class="table analysesTable">
                                <thead>
                                <tr>
                                    <th ng-repeat="field in analysis.fields">{{field.fieldName}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td ng-repeat="field in analysis.fields">
                                        <input ng-model="field.fieldContent" class="form-control analysesInput"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>

    <hr/>


    <br>


    <script type="text/javascript" src="../src/app.js"></script>
    <script type="text/javascript" src="../src/RefDataStore.js"></script>
    <script type="text/javascript" src="../src/PatientStore.js"></script>
    <script type="text/javascript" src="../src/PatientFileController.js"></script>
    <script type="text/javascript" src="../src/ModalController.js"></script>


</div>